@import "../variables";
.layout {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: $spacing-padding;
    padding: $spacing-padding 0;
    width: 100%;
}

.content {
    width: 100%;
}

.sidePanel {
    position: sticky;
    top: $spacing-padding;
    right: 0;
    width: 20%;
    height: 1vh;
    flex-shrink: 0;
}

@media #{$screen-mobile} {
    .layout {
        flex-direction: column;
    }

    .sidePanel {
        position: static;
        height: unset;
        width: 100%;
    }
}
