@import "../variables";

.postPreview {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacing-base / 2;
    border-radius: $spacing-base;
    color: $color-text-body;

    animation-name: fade-in;
    animation-duration: 250ms;
    animation-timing-function: linear;
}

.headerInfo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: $spacing-base;
}

.author {
    font: $font-post-author;
    font-feature-settings: 'ss01';
    color: $color-text-body;
}

.title {
    font: $font-body;
    font-feature-settings: 'ss01';
}

.date {
    font: $font-post-date;
    color: $color-text-date;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
