@import "../variables";

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-base;
    width: 100%;
    text-align: center;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-base;
}

.name {
    font: $font-h4;
}

.address {
    color: $color-text-address;
    font: $font-author-address;
}

.bio {
    max-width: 75%;
    font: $font-author-bio;
}
